{% load static %}
<!--url cache-->
{% url 'core:record' as record_url %}
<!--url cache-->
{% url 'core:index' as home_url %}
<section class="hero is-info is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'recorderApp:index' %}">
            {% if user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'recorderApp:logout' %}">
        Log out <i class="fas fa-sign-out-alt"></i>
    </a>
{% else %}
    <a class="nav-item nav-link" href="{% url 'recorderApp:login' %}">
        Log in <i class="fas fa-sign-in-alt"></i>
    </a>
    
{% endif %}
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item {% if request.path == home_url %} is-active {% endif %}" href="{% url 'recorderApp:index' %}">
              Home
            </a>
            <a class="navbar-item {% if request.path == record_url %} is-active {% endif %}" href="{% url 'recorderApp:record' %}"> Record </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
